h1 {
	text-shadow: 2px 1px blue;
}

h2 {
	text-shadow: 1px 1px green;
}

ul {
	list-style-type: lower-alpha;
}

ol {
	list-style-type: square;
}

.submenu>li {
	display: inline;
}

#information {
	text-align: center;
}

figure{
	float: right;
}