@CHARSET "UTF-8";

BODY {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	font-family : monospace;
	text-align: center;
}

h1{
	text-shadow: 5px 1px gray;
}
.border{
	border: 5px groove black;
	background-color: #4181FF;
	color: white;
}
.leftText{
	text-align: left;
}
caption {
	text-align:center;
	color: white;
	background-color: orange;
}
tr{
	background-color: silver;
}
th{
	background-color: teal;
}

table {
	position: relative;
	left: 250px;
}



